body {
	background-color: #FFFFEE;	
}
h1 {
	color:red;
}

div > p {
	border: solid black 1px;
}

.important {
	background-color: #FFE0E0;
}

.first {
	font-weight: bold;
}

span {
	display: inline-block;
}
.vowel {
	color: blue;
	transform: rotate(180deg);
}
.button {
	border-color: blue;
	padding: 20px;
}